<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>LOGIN PAGE</title>
        <link rel="stylesheet" href="/static/style/NEWLOGINCSS.css ">
    </head>
    <body class="hm">
        <h1>Welcome To The Home Page Buddy </h1>
        <div class="bt">
            <button class ="bb" onclick="go_to_login()"> NEXT</button>
        </div>    
    </body>

    <script>
        function go_to_login() {
    window.location.href = "http://127.0.0.1:5000/login";
}
    </script>
</html>