<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>LOGIN PAGE</title>
        <link rel="stylesheet" href="/static/style/NEWLOGINCSS.css ">
    </head>
    <body class="lshm">
        <h1>You have login successfully</h1>
        <div class="lsbt">
            <button class ="lsbb" onclick="login_successfully()"> BACK</button>
        </div>    
    </body>

    <script>
        function login_successfully() {
    window.location.href = "http://127.0.0.1:5000/register#";
}
    </script>
</html>